@charset "UTF-8";
/* 回答はここから */
ul{
  /* display: flex; */
  display: -webkit-flex;
  justify-content: center;
  height: auto;
  width:780px;
  margin: auto;
}

li{
  width: 200px;
  outline: 10px solid #655;
  border-radius: 13px;
  background-color: #d2b48c;
  margin: 3.8%;
  margin-bottom: 0;
  padding: 10px;
  list-style: none;
  box-shadow: 0 0 0 6px #655;
}

li:first-child{
  margin-left: 0;
}

li:last-child{
  margin-right: 0;
}